* {}

.number{
  width: 50px;
}

.content {
  font-size: 12px;
  font-weight: 600;
  a {
    color: #333;

    &:hover {
      color: rgba(29, 22, 22, 0.6);
    }
  }
}

.options {
  width: 65px;
  i {
    cursor: pointer;
    font-size: 15px;
    color: rgba(29, 22, 22, 0.6);
    padding: 3px;
  }
  .fa-pencil {

  }
}